.btn2{
    margin: 3rem 6rem;
color: black;
text-align: center;

}
.btn2 button{
height: 3rem;
padding: 2rem 1rem;
margin-bottom: 1rem;
border-radius: 0.3rem;

background-color: rgb(8, 8, 8);
color: white;
}

@media screen and (max-width:850px) {
    
    .btn2{
        margin: 2rem 2rem;
    }
    .btn2 button{
        padding: 10px;
        width: 90%;
        margin-top: -25px;
    }
}
